@model BusinessObject.DataAccess.Activity

@{
    ViewData["Title"] = "Details";
}

<h1>Send Mail</h1>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">vu@gmail.com
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Family)
        </dt>
        <dd class = "col-sm-10">ail.com
            @Html.DisplayFor(model => model.Family.FamilyName)
        </dd>
    </dl>
</div>
<form asp-controller="Activities" asp-action="SendMail" method="post">
    <div>
        <input type="hidden" name="activityId" value="@Model.Id" />
        <input type="submit" value="SendMail" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </div>
</form>